body {
    background-color: lightblue;
    color: white;
}
img {
    
}
#img1{
    float: right;
    height: 100px;
    width: 100px;
}
.main{
    margin-left: 310px;
}
.sidebar {
    background-color:white;
    color: black;
    width: 300px;
}


